<!-- Copy the code from below to use this component in static HTML. -->
<div class="dropdown">
  <span class="dropdown__label">
    Open dropdown
  </span>
  <div class="dropdown__inner">
    <nav class="dropdown__nav">
      <a href="#" class="dropdown__link">First dropdown link</a>
      <a href="#" class="dropdown__link">Second dropdown link</a>
      <a href="#" class="dropdown__link">Third dropdown link</a>
    </nav>
  </div>
  <div class="dropdown__overlay"></div>
</div>

<script>
  $('.dropdown__label, .dropdown__overlay').click(function() {
    $(this).parent('.dropdown').toggleClass('is-open')
  })
</script>